body{
    background: #f2f2f2;
}
#container .wrapper{
  width: 380px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#container .wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(-135deg, rgb(16 52 19), rgb(16 52 19));
}
#container .wrapper form{
  padding: 10px 30px 50px 30px;
}
#container .wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
#container .wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: all 0.3s ease;
}
#container .wrapper form .field input:focus,
form .field input:valid{
  border-color: rgb(16 52 19);
}
#container .wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
#container form .field input:focus ~ label,
#container form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: rgb(16 52 19);
  background: #fff;
  transform: translateY(-50%);
}
#container form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
#container form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
#container form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
#containerform .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
#containerform .content .pass-link{
  color: "";
}
#container form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, rgb(16 52 19), rgb(30, 94, 36));
  transition: all 0.3s ease;
}
#container form .field input[type="submit"]:active{
  transform: scale(0.95);
}
#container form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
#container form .pass-link a,
#container form .signup-link a{
  color: rgb(0, 177, 15);
  text-decoration: none;
}
#container form .pass-link a:hover,
#container form .signup-link a:hover{
  text-decoration: underline;
}

@media (max-width: 405px) {
  #container .wrapper {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  #container .wrapper .title {
    font-size: 25px;
    line-height: 50px;
  }
  #container .wrapper form {
    padding: 10px;
    font-size: 10px;
  }
}
