{% extends 'base.html' %}
{% load static %}

{% block title %} Not Found  {% endblock title%}

{% block body%}
    <!-- 404 Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">500</h1>
                    <h1 class="mb-4">Server Error</h1>
                    {% comment %} <span>The requested URL {{ request.path }} was not found on this server.</span> {% endcomment %}
                    {% comment %} <p class="mb-4">Server Error</p> {% endcomment %}
                    <a class="btn btn-dark rounded-pill py-3 px-5" href="/">Go Back To Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->
{% endblock body %}