{% extends 'base.html' %} {% block title %} About {% endblock title%} {% block body%}

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 700px"
    >
      <h2 class="section-title bg-white text-center text-primary px-3">
        Project
      </h2>
      <br><br><br>
      {% comment %} <h1 class="mb-5">Sugarcane Disease Detector</h1> {% endcomment %}
    </div>
    {% comment %} <h2  align="center">Abstract</h2> {% endcomment %}
    <p >
      Sugarcane is a vital crop worldwide and the main source of sugar and
      ethanol. One problem in the sugar industry is sugarcane diseases that
      leads in eradicating growing crops infested with the disease resulting in
      the financial loss of small-scale farmers if these diseases are not
      treated and detected early. With the fast-growing classes of diseases and
      inadequate know-how of farmers in identification and recognition of
      diseases was the motivation in conducting this study. Machine learning
      through image processing using deep learning techniques provides a
      solution to solve this problem. This study trained and test a deep
      learning model of sugarcane image dataset of disease infected and healthy.
      The trained model achieved its purpose by detecting and classifying
      sugarcane images into healthy and unhealthy or diseased class of sugarcane
      leaves. Therefore, this project provides an idea of helping farmers with
      the aid of deep learning algorithm in detecting and classifying sugarcane
      diseases.
    </p>
    {% comment %} <h2 align="center">Project Overview</h2>
    <p>There are many constrain, including the heavy losses, caused by a number of diseases
        to the sugarcane crop in Pakistan. <a href="https://agri.sindh.gov.pk/about-sugarcane">More than 50 diseases are reported in sugarcane</a>,
        fungi, bacteria, viruses and nematodes cause the most destructive diseases. All these
        diseases are harmful in some areas, in some years, and on some plant parts. All parts
        of a plant are subject to disease, and one or more diseases can occur on virtually every
        plant and in every field. All draw attention because of symptoms or signs and
        generate great concern because of their effects on the quality and/or quantity of cane.</p> {% endcomment %}
  </div>
</div>
<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 700px"
    >
      <h2 class="section-title bg-white text-center text-primary px-3">
        Our Team
      </h2>
      <br><br><br>
      {% comment %} <h1 class="mb-5">Experienced Team Members</h1> {% endcomment %}
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded p-4">
          <img
            class="img-fluid rounded mb-4"
            src="/static/img/abd.jpg"
            width="100%"
            alt=""
          />
          <h5>Muhammad Abdullah</h5>
          <p class="text-primary">Python Developer</p>
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://www.facebook.com/smuhabdullah/" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://www.linkedin.com/in/smuhabdullah/" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://github.com/smuhabdullah" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item rounded p-4">
          <img
            class="img-fluid rounded mb-4"
            src="/static/img/team-2.jpeg"
            alt=""
          />
          <h5>Jansher Mughal</h5>
          <p class="text-primary">Machine Learning Expert</p>
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://www.facebook.com/Janshair.Mughal" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://www.linkedin.com/in/jansher-mughal-692ab6226/" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://github.com/JansherMughal" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded p-4">
          <img
            class="img-fluid rounded mb-4"
            src="/static/img/team-3.jpg"
            alt=""
          />
          <h5>Muhammad Talha Asif</h5>
          <p class="text-primary">Web Developer</p>
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://www.facebook.com/profile.php?id=100006318499243&mibextid=LQQJ4d" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://www.linkedin.com/in/talha-asif-1797b01b3" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="#" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded p-4">
          <img
            class="img-fluid rounded mb-4"
            src="/static/img/team-5.jpg"
            alt=""
          />
          <h5>Muhammad Umer</h5>
          <p class="text-primary">Web Designer</p>
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://www.facebook.com/people/Umer-Memon/pfbid0JTdYJEJoP17WhqwvZpxvad2GVdND1PJjbgoCNHNYmXgauNZX8rEzaob7rfBCwWvql/" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="#" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="https://github.com/umeraslam2345" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item rounded p-4">
          <img
            class="img-fluid rounded mb-4"
            src="/static/img/team-4.jpg"
            alt=""
          />
          <h5>Shaheer Ali</h5>
          <p class="text-primary">Node Developer</p>
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="#" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="#" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              class="btn btn-square btn-outline-primary rounded-circle mx-1"
              href="#" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- About End -->

{%endblock body%}
